.projects {
       background-color: var(--prime-1);
    background-image: url('/public/images/placeholders/stacked-waves-haikei.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}
.projects_grid {
    display:  grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    padding: 2em;


}
.title {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1.2pt;
    padding: .2em;
}