.projects {
    color: whitesmoke;
    /* height: 100vh; */
    background-color: rgba(0,0,0,0.2);

}
    .projects-container {
            display: flex;
        }
        .project-box {
            
            max-width: 70vw;
            display: flex;
            flex-direction: column;
            margin: 140px 14px 50px 14px;
            padding: 20px;
            background-color: rgba(0,0,0,0.6);
            letter-spacing: 0.8pt;
            border-radius: 8px;

        }
        .project-desc {
            margin: 14px ;
            border-radius: 8px;
        }
        .project-img {
            margin: 10px auto;
            padding: 6px;
            background-color: gray;
            border: 4px solid gray;
            border-radius: 8px;
            overflow: hidden;
        }
        .project-img img {
            border-radius: 8px;
            overflow: hidden;
        }

