.login {
    height: 100vh;
}
    .form-box {
        display: flex;
        flex-direction: column;
        /* width: 30%; */
        align-items: center;
        justify-content: center;

    }
    .form-box input {
        width: 80%;
        margin: 5px auto 5px 58px;
    }
    .form-box button {
        margin-top: 20px;
        margin-left: 220px;
    }