.login {
    height: 100vh;

}
    .login-form-box {
        position: relative;
        top: 180px;
        margin-top: 200px;
        padding: 50px;
        display: flex;
        flex-direction: column;
        max-width: 58vw;
        justify-content: center;
        margin: auto  auto;
        background-color: var(--cards-rgba);

        border: 1px solid gray;
        min-height: 50%;
        color: whitesmoke;
        box-shadow: var(--box-shadow);
    }
    .login-form-box h1 {
        background-color: var(--cards-rgba);

        color: var(--ai-bluegray);
        padding: 10px 40px;
        margin: 30px auto;  
        box-shadow: var(--box-shadow);
             
    }
    .login-form-box input {
        width: 50%;
        margin: 5px auto 5px 250px;
        padding: 10px 16px;
        border: 1px solid gray;
        background: whitesmoke;
    }
    .login-form-box button {
        margin-top: 20px;
        margin-left: 380px;
        box-shadow: var(--box-shadow);

    }
    h1 {
        font-size: 66px;
    }