.login {
    height: 100vh;
    position: relative;
    top: 180px;

}
    .login-form-box {
        position: relative;
        flex-direction: column;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        padding: 50px;
        width: 1000px;
        margin: auto auto;
        min-height: 50%;
        color: var(--ai-bluegray);
        border: 1px solid gray;
        background-color: var(--cards-rgba);
        box-shadow: var(--box-shadow);
    }
    .login-form-box h1 {
        padding: 20px 70px;
        margin: 10px;
        font-size: 66px;
        letter-spacing: 1.8pt;
        background-color: var(--cards-rgba);
        box-shadow: var(--box-shadow);
        text-align: center;            
        font-weight: bold;
             
    }

    .login-fom {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;

    }
    .login-form-box input {
       
        width: 100%; 
    }
    .login-form-box button {
        margin-top: 20px;
        margin-left: 380px;
        box-shadow: var(--box-shadow);

    }
    h1 {
        font-size: 66px;
    }