.hero {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url('./../../../../public/images/backgrounds/hero-background.jpg');
    background-size: cover;
    background-position: center;
}

.welcome {
    position: absolute;
    top: 6em;
    right: 12em;
    padding: 2em;
    text-align: center;
    
}
.hi_box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.hi {
    font-weight: bold;
    font-size: 3rem;
    font-family: 'Shantell Sans', cursive;
    color: var(--blue-3);
}

.welcome h1 {
    font-size: 5.5rem;
    font-family: 'Shantell Sans', cursive;
    color: var(--blue-3);
}
.welcome h2 {
    font-size: 2.5rem;
    color: var(--blue-3);
        font-family: 'Orbitron', sans-serif;


}

.welcome h3 {
    font-size: 2rem;
    font-family: 'Shantell Sans', cursive;
    
}

.welcome p {
    padding: 2em;
}