.hero {
    position: relative;
    display: flex;
    height: 100vh;
    /* background-image: url('/public/images/wallpapers/wallpaper-12.jpg'); 
    background-repeat: no-repeat;
    background-size: cover; */
}
    .hero-left {
        position: relative;
        width: 70%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;

    }
        .hero-left .title-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            top: 14vh;
            left: 4vw;
            background-color: var(--blue-3);
            background-repeat: no-repeat;
            background-size: cover;
            box-shadow: var(--box-shadow);
            margin: 10px;
            padding: 30px;
        }   
            .hero-left h1, h2 {
                --c: var(--ai-bluegray); /* the color */
              --b: .1em;    /* border length*/
              --d: 20px;    /* the cube depth */
              --h: 1.2em;   /* the height */
              
              --_s: calc(var(--d) + var(--b));
            
              line-height: var(--h);
              color: #0000;
              text-shadow: 
                0 calc(-1*var(--_t,0em)) var(--c), 
                0 calc(var(--h) - var(--_t,0em)) #fff;
              border: solid #0000;
              overflow: hidden;
              border-width: var(--b) var(--b) var(--_s) var(--_s);
              background:
                linear-gradient(var(--c) 0 0) 100% 100%
                 /101% var(--_p,0%) no-repeat,
                conic-gradient(at left var(--d)  bottom var(--d),
                  #0000 90deg, rgb(255 255 255 /0.3) 0 225deg,rgb(255 255 255 /0.6) 0) border-box,
                conic-gradient(at left var(--_s) bottom var(--_s),
                  #0000 90deg,var(--c) 0) 0 100%/calc(100% - var(--b)) calc(100% - var(--b))  border-box;
              transform: translate(calc(var(--d)/-1),var(--d));
              clip-path: 
                polygon(
                 var(--d) 0%, 
                 var(--d) 0%, 
                 100% 0%, 
                 100% calc(100% - var(--d)),
                 100% calc(100% - var(--d)),
                 var(--d) calc(100% - var(--d))
                );
              transition: 0.5s;
            }
            .hero-left h1:hover, h2:hover {
                z-index: 1;
                transform: translate(0,0);
                clip-path: 
                  polygon(
                   0% var(--d), 
                   var(--d) 0%, 
                   100% 0%, 
                   100% calc(100% - var(--d)), 
                   calc(100% - var(--d)) 100%, 
                   0% 100%
                 );
                --_t: var(--h);
                --_p: 105%;

            }
            .hero-left h2 {
                font-size: 2.4em;
            }



    .hero-right {
        position: relative;
        width: 30%;
    }
        .hero-right-links-box {
            background-color: var(--ai-bluegray);
            position: relative;
            right:60px;
            top: 520px;
            max-width: 48%;
            
            padding: 20px; 
            box-shadow: var(--box-shadow);
            border: 1px solid gray;
            border-radius: 50px 10px 50px 10px;
            
            font-style: italic;
            font-weight: bold;
            font-size: 16px;
            letter-spacing: 1.2pt;
            
            transform:
            perspective(1300px)
            rotateY(324deg) scale(1)
            rotateX(16deg);
            transition: 0.5s ease all;
        }
        .hero-right-links-box:hover {
            transform:
                perspective(800px)
                rotateY(0deg)
                translateY(0px)
                rotateX(0deg)
                scale(1.8);
                font-weight: bold;
        }
        .hero-right-links-box h2 {
            font-family: 'Gajraj One', cursive;
            text-align: center;
        }
        .hero-right-links-box * {
            color: var(--cards-bg);
        }
        .hero-right-links-box *:hover {
            transition: 0.5s ease all;
            color: var(--embers);
        }
    .photo-credit-box {
        display: flex;
        position: absolute;
        bottom: 20px;
        right: 0px;
    }
        .photo-credit-box *{
            font-size: 14px;
            margin-right: 20px;
            color: var(--cards-bg);
            list-style: none;
            text-decoration: none;
        }
        .photo-credit *:hover {
            color: var(--embers);
            transition: 0.9s ease all;
        }