.footer {
    position: relative;

    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    min-height: 16vh;
    padding: 1em;
    background-color: var(--prime);
    border-top: 1px solid var(--text);

}

.ul {
    list-style: none;
    font-size: .8rem;
    font-weight: 500;
    /* text-align: center; */
    border-radius: var(--b-radius);
    letter-spacing: .4pt;
}

.li {
    padding: .1em .6em;
    border-radius: var(--b-radius);
    background-color: var(--prime-2);
    border: 1px solid var(--sec-2);
    transition: all ease-in-out 400ms;

}

.li:hover {
    scale: 1.2;
}
@media (max-width:900px) {
    .footer {
        position: relative;
    
        display: flex;
        justify-content: space-evenly;
        width: 100vw;
        min-height: 16vh;
        padding: 1em;
        background-color: var(--prime);
        border-top: 1px solid var(--text);
    
    }
    
    .ul {
        list-style: none;
        font-size: .8rem;
        font-weight: 500;
        /* text-align: center; */
        border-radius: var(--b-radius);
        letter-spacing: .4pt;
    }
    
    .li {
        padding: .1em .6em;
        border-radius: var(--b-radius);
        background-color: var(--prime-2);
        border: 1px solid var(--sec-2);
        transition: all ease-in-out 400ms;
    
    }
    
    .li:hover {
        scale: 1.2;
    }
}

@media (max-width:600px) {

    .footer {
        position: relative;
    
        display: flex;
        flex-direction: column-reverse;

        justify-content: space-evenly;
        width: 100vw;
        min-height: 16vh;
        padding: 1em;
        background-color: var(--prime);
        border-top: 1px solid var(--text);
    
    }
    
    .ul {
        list-style: none;
        font-size: .8rem;
        font-weight: 500;
        /* text-align: center; */
        border-radius: var(--b-radius);
        letter-spacing: .4pt;
    }
    
    .li {
        padding: .1em .6em;
        border-radius: var(--b-radius);
        background-color: var(--prime-2);
        border: 1px solid var(--sec-2);
        transition: all ease-in-out 400ms;
    
    }
    
    .li:hover {
        scale: 1.2;
    }
    .useful_links{
        display: none;
    }
    
}