.home {
    position: relative;

}
    .hero {
        position: relative;
        display: flex;
        height: 100vh;
        background-image: url('/public/images/wallpapers/wallpaper-12.jpg'); 
        background-repeat: no-repeat;
        background-size: cover;
    }
        .hero-left {
            position: relative;
            width: 70%;
        }   
            .pacifico-title:hover {
                -webkit-transform: scale(1.2);
                transition: all 660.ms ease-in-out;
                color: var(--embers);
            }
            .hero-left .title-box {
                display: flex;
                flex-direction: column;
                position: relative;
                top:220px;
                left: 170px;
                background-color: var(--cards-rgba);
                background-repeat: no-repeat;
                background-size: cover;
                max-width: 70%;
                min-height: 45%;
                align-items: center;
                justify-content: space-around;
                text-align: center;
                box-shadow: var(--box-shadow);
                margin: 10px;
                padding: 30px;
            }   
                .hero-left img {
                    opacity: 0.5;
                    position: absolute;
                    left: 170px;
                    top: 220px;
                    width: 71%;
                    height: 46%;                                        
                    overflow: hidden;
                    object-fit: cover;
                    border-radius: 20px;
                    box-shadow: var(--box-shadow);
                    margin: 2px;
                    padding: 6px;
                }
                .hero-left h1 {
                    position: relative;
                    font-size: 122px;
                    color: var(--ai-bluegray);
                }
                .hero-left h1:hover {
                    z-index: 1;
                    color: var(--embers);
                    -webkit-transform: scale(1.2);
                    transition: 0.5s ease all;

                }
                .hero-left .title-box #hi {
                    font-size: 68px;
                }
                .hero-left .title-box #hi:hover {
                    color: var(--embers);
                    -webkit-transform: scale(1.3);
                    transition: 0.5s ease all;

                }
                .hero-left .title-box h2 {
                    color: var(--ai-bluegray);
                    font-size: 36px;
                    font-size: 52px;
                    transition: 0.5s ease all;
                }
                .hero-left .title-box h2:hover {
                    color: var(--embers);
                    -webkit-transform: scale(1.3);
                    transition: 0.5s ease all;
                }
        .hero-right {
            position: relative;
            width: 30%;
        }
            .hero-right-links-box {
                background-color: var(--ai-bluegray);
                position: relative;
                right:60px;
                top: 520px;
                max-width: 48%;
                box-shadow: var(--box-shadow);
                font-style: italic;
                font-weight: bold;
                font-size: 16px;
                letter-spacing: 1.2pt;
                border: 1px solid gray;
                border-radius: 50px 10px 50px 10px;
                padding: 20px; 
                
                transform:
                perspective(1300px)
                rotateY(324deg) scale(1)
                rotateX(16deg);
                transition: 0.5s ease all;
            }
            .hero-right-links-box:hover {
                            transform:
                    perspective(800px)
                    rotateY(0deg)
                    translateY(0px)
                    rotateX(0deg)
                    scale(1.8);
                    font-weight: bold;
            }
            .hero-right-links-box h2 {
                font-family: 'Gajraj One', cursive;
                text-align: center;
            }
            .hero-right-links-box * {
                color: var(--cards-bg);
            }
            .hero-right-links-box *:hover {
                transition: 0.5s ease all;
                color: var(--embers);
            }
        .photo-credit-box {
            display: flex;
            position: absolute;
            bottom: 20px;
            right: 0px;
        }
            .photo-credit-box *{
                font-size: 14px;
                margin-right: 20px;
                color: var(--cards-bg);
                list-style: none;
                text-decoration: none;
            }
            .photo-credit *:hover {
                color: var(--embers);
                transition: 0.9s ease all;
            }
.info {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 40px;
    display: flex;
    background-color: var(--cards-rgba);
    padding: 30px 30px;
    margin: 30px auto;
    color: var(--ai-bluegray);
    letter-spacing: 1.1pt;
}
    .info .skills-ul li {
    }
    .info .skills-ul li:hover {
        transform: 0.5 ease-in-out;
        -webkit-transform: scale(1.3);
    }
    .info-left {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        width: clamp();
        margin: 10px;
        padding: 20px;
        line-height: 1.5;
        background-color: var(--cards-rgba);
        box-shadow: var(--box-shadow);
    }
        .info-left h2 {
            font-size: 46px;
            margin-bottom: 20px;
        }
        .info-left p {
            padding: 20px;
            font-size: 22px;
            text-align: center;
        }
        .info-left a {
            color: var(--embers);
            font-style: italic;
        }
            .skills-box {
                display: flex;
            }
            .skill-list {
                    font-size: 20px;
                    margin: 6px;
                    padding: 6px;
                }

            .skills-grid {
                margin-top: 70px;
                padding: 10px;    
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                background-color: var(--cards-rgba);
                   
            }
            .skills-grid ul:nth-child(2) {
                position: relative;
                top: -20px;
                width: 35%;                   
                -webkit-transform: scale(1.2);
                justify-content: space-evenly;
            }
            .skills-ul {
                background-color: var(--cards-rgba);
                display: flex;
                flex-direction: column;
                margin: 15px;
                padding: 10px;
                border: 1px solid transparent;
                text-align: center;
                color: var(--ai-bluegray);
                font-weight: bold;
            }
            .grid-li {
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: var(--box-shadow);
                background-color: transparent;
                border: 1px solid var(--ai-bluegray);
                margin: 10px;
                padding: 15px 30px;
            }
            .grid-li:hover {
                background-color: var(--ai-bluegray);
                color: var(--cards-bg);
                transition: 0.9s ease all;
                z-index: 1;
            }
            .grid-li span {
                margin-left: 4px;
            }
    .info-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 35%;
        margin: 10px 30px;
        padding: 30px 20px;
        border: 1px solid gray;

        background-color: var(--cards-rgba);
        box-shadow: var(--box-shadow);
        overflow: hidden;
    }
    .info-right img {
        box-shadow: var(--box-shadow);
        opacity: 0.96; 
        height: 70%;
        border-radius: 36px;
        padding: 26px;
        background-color: var(--cards-rgba);
        overflow: hidden;
        object-fit: cover;
        /* decoration shadow */
        box-shadow: 
            -8px -2px 0 10px var(--dark-blue),
            30px 36px 0px -20px var(--ai-bluegray);
    }
    .info-right img:hover { 
        -webkit-transform: scale(1.05);
        padding: 10px;
        -webkit-transition: all 1s ease;
        transition: 0.9s ease all;
        box-shadow: var(--box-shadow);
    
    }
    .card-info  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 30px auto 20px auto;
        letter-spacing: 1.5pt;
        font-size: x-large;
        background-color: var(--cards-rgba);
        color: var(--ai-bluegray);
    }
    .card-info *:hover {
        -webkit-transform: scale(1.01);
    }

    #education {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .info-left.edu {
        width: 95%;
        padding: 20px; 
        margin: 30px;
        align-items: center;
        justify-content: center;
        color: var(--ai-bluegray);
    }
    .info-left.edu .skills-grid {
        margin-bottom: 40px;
        width: 100%;
    }
    .info-left.edu .skills-grid:nth-child(2) {
        margin-bottom: 40px;
        width: 70%;
    }
 /* .edu-li *{
        color: var(--ai-bluegray);
    } */
