@media (max-width:600px) {
    
    .hero-left img {

    }
    .hero-left h1 {
        display: none;
    }
    .hero-right {
        display: none;
    }
    .title-box  h2{
        display: none;
    }


    .info {
        flex-direction: column;
    }
    .skills-box {
        flex-direction: column;
    }
    }