
.lang_switch {
    display: flex;
    /* flex-direction: column; */
    gap: .4em;
    height: 50%;

    border-radius: var(--b-radius);
    border: 1px solid var(--acc-2);
    padding: .4em;
    font-size: .6rem;
    background-color: var(--dimmer);
}
.option {
    width: 100%;
}
@media (max-width:900px) {
    .lang_switch {
        display: flex;
        flex-direction: column;
        gap: .4em;
        height: 50%;

        border-radius: var(--b-radius);
        border: 1px solid var(--acc-2);
        padding: .4em;
        font-size: .6rem;
        background-color: var(--dimmer);
    }
    .option {
        width: 100%;
    }
}

@media (max-width:600px) {

    .lang_switch {
        display: flex;
        flex-direction: column;
        gap: .4em;
        height: 50%;
        border-radius: var(--b-radius);
        padding: .3em;
        font-size: .6rem;
        background-color: var(--dimmer);
        color: var(--acc-2);
        border: 1px solid var(--acc-2);
    }
    .option {
        width: 100%;
    }
    
    
}