.techstack {
    padding: .6em;
    height: 100vh;
}

.child {
    width: 100%;
    background-color: var(--blue-2);
    text-align: center;
}
.child_1 {
    transition: all ease-in 1s;
    transform: translateX(-150%);
    opacity: 0;
  }
.child_2 {
    transition: all ease-in 1s;
    transform: translateX(150%);
    opacity: 0;
  }
.child_3 {
    transition: all ease-in 1s;
    transform: translateX(-150%);
    opacity: 0;
  }
.slide_in {
    transform: translateX(0) !important;
    opacity: 1 !important;
  }

.child_ul {
    list-style-type: none;
}
    
