.techstack {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    gap: 1em;

    padding: .6em;
    min-height: 100vh;

    background-color: var(--prime-1);
    background-image: url('/public/images/placeholders/stacked-waves-haikei(1).svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}


.child {
    width: 90%;
    /* height: 30vh; */
    background-color: var(--blue-2);
    text-align: center;
}
.tech_title {
  font-size: 6rem;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 1.2pt;
  padding: .2em;
}
.child_title {
  font-size: 2rem;
  letter-spacing: 1.2pt;
  padding: .2em;
}

.child_1 {
    height: 20vh;
    transition: all ease-in 1s;
    transform: translateY(-150%);
    opacity: 0;
    clip-path: polygon(5% 3%, 20% 34%, 5% 0, 96% 0, 80% 34%, 96% 3%, 100% 99%, 90% 80%, 100% 100%, 0 100%, 9% 79%, 0 99%); 

  }
  .child_2 {
    transition: all ease-in 1.4s;
    transform: translateX(150%);
    opacity: 0;
    clip-path: polygon(0 2%, 5% 40%, 0 0, 100% 0, 94% 40%, 100% 2%, 100% 100%, 97% 71%, 99% 100%, 1% 100%, 2% 71%, 0 100%);  
  }

.child_3 {
    transition: all ease-in 1.4s;
    transform: translateX(-150%);
    opacity: 0;
    clip-path: polygon(0 6%, 15% 15%, 3% 1%, 98% 0, 85% 15%, 100% 4%, 100% 96%, 85% 85%, 97% 100%, 3% 100%, 15% 85%, 0 98%);
  }
  .child_4 {
    transition: all ease-in 1.4s;
    transform: translateX(150%);
    opacity: 0;
    clip-path: polygon(0 2%, 5% 40%, 0 0, 100% 0, 94% 40%, 100% 2%, 100% 100%, 97% 71%, 99% 100%, 1% 100%, 2% 71%, 0 100%);
    }
.slide_in {
    transform: translateX(0) !important;
    opacity: 1 !important;
  }

  
  .child_ul {
    position: relative;
  
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    padding: .2em 3em;
    
  }
  .child_li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 2em;
    overflow: visible;

    font-size: 1.4rem;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1.2pt;
    background-color: var(--dimmer-3);
    clip-path: polygon(0 2%, 5% 40%, 0 0, 100% 0, 94% 40%, 100% 2%, 100% 100%, 97% 71%, 99% 100%, 1% 100%, 2% 71%, 0 100%);    transition: all ease-in-out 0.5s;
  }
  .child_li_img {
    /* position: absolute; */
    top: 1px;
    left: 1px;
    width: 5em;
    height: 5em;
    transition: all ease-in-out 0.5s;
  }
  .child_li_img:hover {
    scale: 1.2;
  }
  