:root{
  --dark-blue: #060d23;
  --ai-bluegray: #1d4c67;
  --ink: #337ab0;
  --mist: #7a909d;
  --sky: #cadae4;

  
  --cards-bg: #d9dbd0;
  --embers: #b82601;
  --lemon: #feaf2e;
}


* {
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;


}

button {
  all: unset;
  background-color: var(--ai-bluegray);
  cursor: pointer;

  border: 1px solid var(--ai-bluegray);
  border-radius: 8px;

  max-width: 30%;
  min-width: 20%;
  margin-left: 20px;
  padding: 5px 20px;

  letter-spacing: 1px;
  text-align: center;

}
button:hover {
  scale: 1.05;
  background-color: var(--ink);
}



a {
  text-decoration: none;

  color: var(--sky);
  
}
a:hover {
  color: var(--embers);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 1s ease;
}

li {
  text-decoration: none;
  list-style: none;

}