
.about_me {
    margin: 4em;
    padding: 0em;
    display: grid;
    gap: 1.6em;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
                "one one one one one one"
                "two two three three three three"
                "two two three three three three"
                "two two three three three three"
                "four four four four four four"
                "four four four four four four";
    padding: 2em;
}
.title {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1.2pt;
    padding: .2em;

}
.card_1 {
    grid-area: one;
    max-height: 20vh;
}
.card_2 {
    grid-area: two;
    min-height: 60vh;
}
.card_3 {
    grid-area: three;
    min-height: 60vh;
}
.card_4 {
    grid-area: four;
    /* max-height: 40vh; */

}

.about_card {
    padding: 2em;
    border: 0.3em solid var(--blue-4);
    border-radius: var(--bradius);
    overflow: hidden;
    color: var(--blue-4);
    background-color: var(--blue-2);
    transition-duration: 400ms;
}
.about_card p {
    padding: 1em;
}
.about_card img {
    border: 0.3em solid var(--blue-4);
    border-radius: var(--bradius);
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.about_card_ul {
    grid-area: four;
    max-height: 30vh;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: .4em;
    padding: 2em;
    background-color: var(--dimmer-3);
}
.about_card li {
    font-size: 1.1rem;
    list-style-type: none;
    padding: .6em;
    background-color: var(--dimmer-3);

    text-align: center;

}