@media screen and (max-width: 600px) {

.about-me {
    margin: 1.4em;
    padding: 0em;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1.6em;

}


.about-card {
    padding: 0.2em;
    border: 0.3em solid var(--blue-4);
    border-radius: var(--bradius);
    overflow: hidden;
    color: var(--blue-4);
    background-color: var(--blue-3);
    transition-duration: 400ms;
    overflow: scroll;
}
.about-card:hover {
    -webkit-transform: scale(1.1);
    transition: all 700ms ease-in-out;
}
.about-card p {
    padding: 1em;
}
.about-card img {
    border: 0.3em solid var(--blue-4);
    border-radius: var(--bradius);
    object-fit: cover;
    height: 100%;
    width: 100%;
    }
.about-card li {
    font-size: 1.1rem;
}
}