.footer_banner {
    padding: 2em;
    margin: 1em;
    min-width: 30vw;
    font-size: .8rem;
    text-align: center;
    letter-spacing: .4pt;
    overflow: scroll;
    background-color: var(--dimmer-3);
    border-radius: var(--b-radius);
    border-top: .1em solid var(--text);
    border-bottom: .1em solid var(--text);
    list-style: none;
    font-size: .8rem;
    font-weight: 500;
    text-align: center;
    letter-spacing: .4pt;

}

.title {
    border-radius: var(--b-radius);
    border-top: .1em solid var(--acc-2);
    border-bottom: .1em solid var(--acc-2);
    background-color: var(--dimmer-2);
}

.subtitle {

}
.pdiv {

    border-radius: var(--b-radius);
}
@media (max-width:900px) {
    .footer_banner {
        padding: 2em;
        margin: 1em;
        min-width: 28vw;
        font-size: .8rem;
        text-align: center;
        letter-spacing: .4pt;
        overflow: scroll;
        background-color: var(--dimmer-3);
        border-radius: var(--b-radius);
        border-top: .1em solid var(--text);
        border-bottom: .1em solid var(--text);
        list-style: none;
        font-size: .8rem;
        font-weight: 500;
        text-align: center;
        letter-spacing: .4pt;
    
    }
    
    .title {
        border-radius: var(--b-radius);
        border-top: .1em solid var(--acc-2);
        border-bottom: .1em solid var(--acc-2);
        background-color: var(--dimmer-2);
    }
    
    .subtitle {
    
    }
    .pdiv {
    
        border-radius: var(--b-radius);
    }
}
@media (max-width:600px) {
    .footer_banner {
        padding: 2em;
        margin: 1em;
        min-width: 30vw;
        font-size: .8rem;
        text-align: center;
        letter-spacing: .4pt;
        overflow: scroll;
        background-color: var(--dimmer-3);
        border-radius: var(--b-radius);
        border-top: .1em solid var(--text);
        border-bottom: .1em solid var(--text);
        list-style: none;
        font-size: .8rem;
        font-weight: 500;
        text-align: center;
        letter-spacing: .4pt;
    
    }
    
    .title {
        border-radius: var(--b-radius);
        border-top: .1em solid var(--acc-2);
        border-bottom: .1em solid var(--acc-2);
        background-color: var(--dimmer-2);
    }
    
    .subtitle {
    
    }
    .pdiv {
    
        border-radius: var(--b-radius);
    }
}


