.login {
    padding: .4em;
    position: relative;
    display: flex;
    align-items: start;
    justify-content: center;
    height: 110vh;

    background-color: var(--prime-1);
    background-image: url('/public/images/placeholders/stacked-waves-haikei.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.form_box {
    background-color: var(--dimmer-3);
    padding: 2em 4em;
}
.title {
    text-align: center;
    font-size: 3rem;
    font-family: 'Orbitron', sans-serif;

    letter-spacing: 1.2pt;
    padding: .2em;
    font-weight: bold;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-color: var(--dimmer-3);
    padding: 2em;
    width: 40vw;
}

.input_box {
    display: flex;
    flex-direction: column;
    background-color: var(--dimmer-3);
    padding: 2em;
    width: 100%;
}
.label {
    font-size: 1.3rem;
    color: var(--acc-2);   
    padding: .2em;

}
.input {
    font-size: .9rem;
    padding: .4em;
}
.recaptcha {
    width: 100%;
}

.mail_icon {
    position: relative;
    left: 320px;
}

.button {
  text-decoration: none;
  padding: 1.2em 4em;
  color: var(--blue-3);
  font-size: 18px;
  letter-spacing: 3px;
  border: 2px solid var(--blue-3);
  text-transform: uppercase;
  position: relative;
  margin: auto auto;
  background-color: var(--dimmer-3);
  overflow: hidden;
  transition: all 0.5s;
  z-index: 1;
  font-weight: bold;
  letter-spacing: 1.1pt;
  font-family: 'Orbitron', sans-serif;

}

  .button:hover {
    color: var(--blue-2);
  }

  .wave {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: calc(100% + 22px);
  
    background: rgb(110,254,254);
    background: -moz-linear-gradient(343deg, rgba(110,254,254,1) 0%, rgba(84,235,254,1) 8%, rgba(80,232,254,1) 25%, rgba(13,184,255,1) 66%, rgba(0,174,255,1) 85%);
    background: -webkit-linear-gradient(343deg, rgba(110,254,254,1) 0%, rgba(84,235,254,1) 8%, rgba(80,232,254,1) 25%, rgba(13,184,255,1) 66%, rgba(0,174,255,1) 85%);
    background: linear-gradient(343deg, rgba(110,254,254,1) 0%, rgba(84,235,254,1) 8%, rgba(80,232,254,1) 25%, rgba(13,184,255,1) 66%, rgba(0,174,255,1) 85%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6efefe",endColorstr="#00aeff",GradientType=1);   transition: all 1s;
    z-index: -1;
  }

  .button:hover .wave {
    top: 0; 
  }
  
  .wave:before {
    content: "";
    position: absolute;
    top: -22px;
    left: 0;
    width: 100%;
    height: 22px;
    background: url('/public/images/placeholders/wave.png');
    animation: wavy 0.5s linear infinite;
  }
  
  @keyframes wavy {
    0% { background-position-x: 0 }
    100% { background-position-x: 118px; }
  }
  




/* <========== Media Query ================> */

/* TABLET */

@media (max-width:900px) {

}
/* MOBILE */

@media (max-width:600px) {
.login {
    padding: .4em;
    position: relative;
    display: flex;
    align-items: start;
    justify-content: center;

    background-color: var(--prime-1);
    background-image: url('/public/images/placeholders/stacked-waves-haikei.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.form_box {
  background-color: var(--dimmer-3);
  padding: .2em .4em;
  width: 100%;
}
.title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 1.2pt;
  padding: .2em;

}
.form {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: .8em;
  background-color: var(--dimmer-3);
  padding: 2em;
  width: 100%;
  position: relative;


}

.input_box {
    display: flex;
    flex-direction: column;
    background-color: var(--dimmer-3);
    padding: 1.6em;
    width: 100%;
}
.label {
    font-size: 1.3rem;
    color: var(--acc-2);   
    padding: .2em;

}
.input {
    font-size: .9rem;
    padding: .4em;
}
.recaptcha {
    width: 100%;
}

.mail_icon {
    position: relative;
    left: 320px;
}


}