.login {
    padding: 4em;
    position: relative;
    display: flex;
    align-items: start;
    justify-content: center;
    height: 100vh;
    /* margin-top: 2em; */
    
}
.form_box {
    background-color: var(--dimmer-3);
    padding: 2em 4em;
}
.title {
    text-align: center;
    font-size: 3rem;
    font-family: 'Orbitron', sans-serif;

    letter-spacing: 1.2pt;
    padding: .2em;
    font-weight: bold;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-color: var(--dimmer-3);
    padding: 2em;
    width: 40vw;
}

.input_box {
    display: flex;
    flex-direction: column;
    background-color: var(--dimmer-3);
    padding: 2em;
    width: 100%;
}
.label {
    font-size: 1.3rem;
    color: var(--acc-2);   
    padding: .2em;

}
.input {
    font-size: .9rem;
    padding: .4em;
}
.recaptcha {
    width: 100%;
}
.button {
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: .6em;
    /* margin-left: auto;
    margin-right: auto; */
    padding: .2em .8em;
    border: 2px solid var(--blue-3);
}
.mail_icon {
    position: relative;
    left: 320px;
}