.login {
    height: 100vh;
    position: relative;
    top: 180px;

}
    .login-form-box {

        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        position: relative;
        width: clamp(400px, 50vw, 1200px);
        height: clamp(400px, 50vh, 800px);
        margin: auto auto;
        padding: 50px;
        
        overflow: hidden;
        color: var(--ai-bluegray);
        border: 1px solid var(--blue-2);
        background-color: var(--blue-3);
        border-radius: var(--bradius);
        /* box-shadow: var(--box-shadow); */
    }
    .login-form-box h1 {
        padding: 20px 70px;
        margin: 10px;
        font-size: 66px;
        letter-spacing: 1.8pt;
        /* box-shadow: var(--box-shadow); */
        text-align: center;            
        font-weight: bold;
             
    }
    .login-form-box input {
       
        width: 100%; 
    }
    .login-form-box button {
        margin: 20px auto 20px 0%;
        /* box-shadow: var(--box-shadow); */
        
    }
    h1 {
        font-size: 66px;
    }