
/*
Photo by <a href="https://unsplash.com/@marekpiwnicki?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Marek Piwnicki</a> on <a href="https://unsplash.com/t/wallpapers?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>

*/
 
#body {
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    background-image: url('/public/images/wallpapers/wallpaper-24.jpg');
    background-repeat: no-repeat;
    background-size: cover; 

    
}
.icon {
  width: 20px;
}

.pacifico-title {
  font-family: 'Pacifico', Arial, Helvetica, sans-serif;
}

  .nav-bar {
      
      box-shadow: 4px 2px 32px 2px rgba(74, 74, 74, 0.572), 0 6px 20px 0 rgba(81, 81, 81, 0.509);
      display: flex;
      position: absolute;
      margin-left: 25px;
      margin-right: 25px;
      top: 10px;    
      left: 30px;
      right: 30px;
      z-index: 1;
      background-color: rgba(213, 212, 194, 0.6);

      border-radius: 10px;
      overflow: hidden;
      
    }
    #logo {
        width: 90px;
        height: 90px;
        margin: 0px;
        padding: 0px;
    }
    .nav-bar h1 {
        /* background-color: rgba(0, 0, 0, 0.02); */
        color: var(--ai-bluegray);
        font-family: 'Gajraj One', cursive;
        font-weight: bold;
        font-size: 38px;
        letter-spacing: 3.9pt;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 0px;
        padding-left: 0px;
        padding-right: 30px;
        border-radius: 20px;

      }

    .nav-bar-links {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        font-size: 24px;
        font-weight: bold;
        

      }
    .nav-bar-links li>*{
        
        /* font-family: 'Gajraj One', Helvetica, sans-serif; */
        font-weight: bold;
        color: var(--ai-bluegray);
        letter-spacing: 2pt;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 8px;
      }
      .nav-bar-links li {
        margin-right: 36px;
      }


    .nav-bar-links *:hover {
        scale: 1.04;
        color: var(--embers);
        transition: 0.5s ease all;

      }
    
    #nav-bar-menu-icon {
      margin: auto 30px;
      font-size: 32px;
      cursor: pointer;
      color: var(--ai-bluegray);
    }
    #nav-bar-menu-icon:hover {
      scale: 1.3;
      transition: 0.5s ease all;
      color: var(--embers);

    }

main {
    height: auto;
}
footer {
    background-color: rgba(198, 197, 180, 0.8);

    display: flex;
    justify-content: space-evenly;
    color: var(--ai-bluegray);
    position: relative;
    bottom: 0px;
    padding: 20px;

}
    .footer-list-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        
    }
        .footer-list-box h5 {
            margin-bottom: 0px;
            margin-top: 25px;
        }
        .footer-list-box * {
          color: var(--ai-bluegray);
        }
