 
#body {
    position: relative;
    background-image: url('/public/images/wallpapers/wallpaper-24.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
}
.icon {
  width: 20px;
}
.pacifico-title {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    background-color: rgba(213, 210, 194, 0.1);
    padding: 10px 20px;
}

.nav-bar {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    margin-left: 25px;
    margin-right: 25px;
    top: 10px;    
    left: 30px;
    right: 30px;
    z-index: 1;
    background-color: var(--cards-rgba);
    border-radius: var(--bradius);
    box-shadow: var(--box-shadow);
    overflow: hidden;      
    }
    #logo {
        width: 90px;
        height: 90px;
        margin: 0px;
        padding: 0px;
    }
    .nav-bar h1 {
        color: var(--ai-bluegray);
        font-family: 'Gajraj One', Arial, Helvetica, cursive;
        font-weight: bold;
        font-size: 38px;
        letter-spacing: 3.9pt;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 0px;
        padding-left: 0px;
        padding-right: 30px;
        border-radius: 20px;
      }
    .nav-bar-links {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        font-size: 24px;
        font-weight: bold;  
      }  
    .nav-bar-link>* {
        margin-left: 26px;
    }
    .nav-bar-link {
        font-weight: bold;
        color: var(--ai-bluegray);
        letter-spacing: 1.5pt;
        margin-top: auto;
        margin-bottom: auto;
    }
    .nav-bar-link:hover {
        scale: 1.04;
        color: var(--embers);
        transition: 0.5s ease all;

      }
    .nav-bar-link span{
        margin: 8px;
    }
    #nav-bar-menu-icon {
        margin: auto 30px;
        font-size: 32px;
        cursor: pointer;
        color: var(--ai-bluegray);
    }
    #nav-bar-menu-icon:hover {
        scale: 1.3;
        transition: 0.5s ease all;
        color: var(--embers);
    }
main {
    /*   <-----  DIMMER LAYER ----->   */
    background-color: rgba(198, 197, 180, 0.3);

}
footer {
    /*   <-----  DIMMER LAYER ----->   */
    background-color: rgba(198, 197, 180, 0.8);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: var(--ai-bluegray);
    position: relative;
    bottom: 0px;
    padding: 20px;
}
    .footer-list-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .footer-list-box h5 {
        margin-bottom: 0px;
        margin-top: 25px;
    }
    .footer-list-box * {
        color: var(--ai-bluegray);
    }
