:root{
    --blue-1: rgb(0, 23, 43);
    --blue-2: rgb(15, 76, 117);
    --blue-3: rgb(110, 254, 254);
    --blue-4: rgb(187, 225, 250);

    --prime-1: #00172b;
    --prime-2: #3d5d71;
    --sec-1: #8b98a2;
    --sec-2: #303436;
    --acc-1: #f00f08;
    --acc-2: #ff4500;
    --acc-3: rgb(230, 177, 31);
    --text: #bdc4ca;
    
    --bg: #cfd8dc;
    --dimmer: rgba(0, 0, 0, 0.90);
    --dimmer-2: rgba(0, 0, 0, 0.75);
    --dimmer-3: rgba(0, 0, 0, 0.55);
    /* --- Values --- */
    --bradius: 4px;
    --cards-rgba: rgb(213, 210, 194);

    
    font-family: 'Roboto Mono', monospace;
    /* font-family: 'Zen Dots', cursive; */
    /* font-family: 'Orbitron', sans-serif; */
    /* font-family: 'Shantell Sans', cursive; */
        /* font-family: 'Montserrat', monospace; */
  }
  

.body {
    position: relative;

}

.main {
  color: var(--text);
  background-color: var(--prime-1);
  /* background-image: url('./../public/images/backgrounds/background.jpg'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

a {
    text-decoration: none;
    color: var(--blue-3);
}
a:hover {
    /* color: var(--embers); */
}

.credit_image {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: .8rem;
}

.section_title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: .2em;
    width: 80%;
    margin: .2em auto;
    margin-bottom: .4em;
    border-bottom: 2px solid var(--acc-2);
    border-top: 2px solid var(--acc-2);
    clip-path: polygon(4% 0, 96% 0, 100% 100%, 0% 100%);
  
  }
    
  .active {
    background-color: var(--dimmer-2);
    color: red;

  }


/* Media Query */

@media (max-width:900px) {

}
@media (max-width:600px) {

}