.contacts {
    height: 100vh;
    position: relative;
    top: 180px;
} 
    .form-box {   
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        padding: 50px;
        width: 1000px;
        margin: auto auto;
        /*  */
        color: var(--ai-bluegray);
        background-color: var(--cards-rgba);
        border: 1px solid gray;
        box-shadow: var(--box-shadow);
    }

        .form-box h1 {
            padding: 20px 70px;
            margin: 10px;
            font-size: 66px;
            letter-spacing: 1.8pt;
            background-color: var(--cards-rgba);
            box-shadow: var(--box-shadow);
            text-align: center;            
            font-weight: bold;

        }
    .contact-form {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        justify-content: center;
        width: 900px;
        padding: 10px;
        overflow: hidden;
        color: var(--sky);
    }
    .contact-form input {
        border: 1px solid gray;
        background-color: whitesmoke;
        padding: 10px;
        margin: 10px;       
        /* width: 50%;  */
        flex-basis: 45%;    
    }
    .contact-form textarea {
        flex-basis: 92%;    
        padding: 10px;
        margin: 10px;
        border: 1px solid gray;
    }
    .contact-form button {
        flex-basis: 45%;    
    }