.contacts {
    height: 100vh;
    /* background-color: rgba(0,0,0,0.2); */ 
} 
    .form-box {
        position: relative;
        top: 180px;
        margin-top: 200px;
        padding: 50px;
        display: flex;
        flex-direction: column;
        max-width: 58vw;
        justify-content: center;
        margin: auto  auto;
        background-color: rgba(213, 212, 194, 0.6);
        border: 1px solid #807e7e74;
        border-radius: 10px;
        color: var(--ai-bluegray);
        box-shadow: 4px 2px 32px 2px rgba(74, 74, 74, 0.572), 0 6px 20px 0 rgba(81, 81, 81, 0.509);

    }
    .form-box * {
        border-radius: 10px;
        overflow: hidden;
    }
        .form-box h1 {
            padding: 10px 30px;
            font-size: 66px;
            letter-spacing: 1.8pt;
            background-color: rgba(213, 212, 194, 0.6);
            /* box-shadow: 4px 2px 32px 2px rgba(74, 74, 74, 0.572), 0 6px 20px 0 rgba(81, 81, 81, 0.509); */
            /* max-width: 70%; */
            margin-left: auto;
            margin-right: auto;
            text-align: center;            
            font-weight: bold;
            margin-bottom: 20px;
            
        }
        .contact-form * {
            color: var(--sky);
        }
        .contact-form form{
            display: flex;
            flex-direction: column;
            padding: 10px;
            overflow: hidden;
            color: var(--sky);
        }
        
        .contact-form input {
            width: 100%;
            justify-content: center;
            align-items: center;
            border: 1px solid #4a4a4a;
            background: rgba(255, 255, 255, 0.8);
            padding: 10px 10px;
            margin: 10px;
            
            color:  whitesmoke;

            
        }
        .contact-form .input {

            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
        }
        .contact-form textarea {
            margin: 20px;
            padding: 10px;
            border: 1px solid #4a4a4a;
            background: rgba(255, 255, 255, 0.8);
            color: var(--sky);
        }

        .contact-form button {
            margin: 0px auto;
        }