.contacts {
    height: 100vh;
    color: black;
    background-color: rgba(0,0,0,0.2);

}


    .form-box {
        position: relative;
        top: 180px;
        margin-top: 200px;
        padding: 50px;
        display: flex;
        flex-direction: column;
        max-width: 58vw;
        justify-content: center;
        margin: auto  auto;
        background: rgba(0,0,0,0.5);
        border: 1px solid #4a4a4a;
        border-radius: 10px;
        min-height: 50%;
        max-height: 60%;
        color: whitesmoke;
    }
    .form-box * {
        border-radius: 6px;
        /* background-color: transparent; */
        overflow: hidden;
    }
        .form-box h1 {
            font-size: 34px;
            margin-left: 14px;
            font-weight: bold;
            letter-spacing: 2px;
            
        }
        .contact-form form{
            display: flex;
            flex-direction: column;
            padding: 10px;
            align-items: stretch;
            overflow: hidden;
        }
        
        .contact-form input {
            width: 49%;
            justify-content: center;
            align-items: center;
            border: 1px solid #4a4a4a;
            background: rgba(255, 255, 255, 0.3);

            
        }
        .contact-form .input {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-bottom: 10px;
        }
        .contact-form form>textarea {
            margin: 7px;
            border: 1px solid #4a4a4a;
            background: rgba(255, 255, 255, 0.3);
        }

        .contact-form button {
            border: 1px solid #4a4a4a;
            background: rgb(58, 56, 56);
            max-width: 30%;
            min-width: 20%;
            letter-spacing: 1px;
            margin-left: 20px;
            padding: 5px 20px;
            text-align: center;
            cursor: pointer;

        }
        .contact-form button:hover {
            scale: 1.05;
            background: rgb(154, 84, 18);
        }