.contacts {
    padding: 4em;
    position: relative;
    display: flex;
    align-items: start;
    justify-content: center;
    height: 100vh;

    background-color: var(--prime-1);
    background-image: url('/public/images/placeholders/stacked-waves-haikei.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.form_box {
    background-color: var(--dimmer-3);
    padding: 2em 4em;
}
.title {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1.2pt;
    padding: .2em;

}
.form {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 2em;
    background-color: var(--dimmer-3);
    padding: 2em;
    width: 40vw;
    position: relative;


}
.label {
    font-size: 1.3rem;
    color: var(--acc-2);   
    position: relative;
    bottom: -25px;
    /* padding: .2em; */

}
.input {
    font-size: .9rem;
    padding: .4em;
    width: 100%;
    
}
.button {
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: .6em;
    padding: .2em .8em;
    border: 2px solid var(--blue-3);
}